################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MakeMeUpzz/App_Data/DatabaseContext.mdf
/MakeMeUpzz/App_Data/DatabaseContext_log.ldf
/.vs/MakeMeUpzz/FileContentIndex/6c9a29bf-7fc7-42c6-82b9-5dcb7a7e5ed4.vsidx
/.vs/MakeMeUpzz/FileContentIndex/bfd09932-02eb-4536-b9c2-a13c3fdc07d0.vsidx
/.vs/MakeMeUpzz/FileContentIndex/c80d159a-e218-49f9-8324-9c2bd69ca86b.vsidx
