################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MakeMeUpzz/FileContentIndex
/.vs/MakeMeUpzz/v17/.suo
/.vs/MakeMeUpzz/v17/DocumentLayout.json
/.vs/MakeMeUpzz/v17/fileList.bin
